<?xml version='1.0' encoding='utf-8'?>
<widget id="com.izzan.fahim" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fahim</name>
    <description>Fahim adalah aplikasi panduan Muslim lengkap yang dirancang untuk memudahkan kehidupan sehari-hari umat Islam.</description>
    <author email="izzanmaula0@gmail.com" href="mailto:izzanmaula@gmail.com">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
<preference name="AndroidPersistentFileLocation" value="Compatibility"/>
<platform name="android">
     <preference name="AndroidAdaptiveIcon" value="false"/>
</platform>
